@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components { 
  body {
    @apply from-gray-900 to-slate-900 bg-gradient-to-r pb-80
  }
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,20),
    0 0 10px rgba(255,255,255,20),
    0 0 15px rgba(255,255,255,200);
    animation: twinkle 3.5s infinite ease-in-out;
  }
  @keyframes twinkle {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(3);
      opacity: 0.5;
    }
  }
  .glow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.03), 
             0 0 25px rgba(255, 255, 255, 0.03), 
             0 0 25px rgba(255, 255, 255, 0.03), 
             0 0 100px #ffffff0a,
             0 0 150px #ffffff0a,
             0 0 300px #ffffff0a;
    background: rgba(255,255,255,0.07);
    border-radius: 24px;
  }
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.03), 
             0 0 25px rgba(255, 255, 255, 0.03), 
             0 0 25px rgba(255, 255, 255, 0.03), 
             0 0 25px #ffffff03, 
             0 0 25px #ffffff03;
  }
  .category-header {
    @apply py-10 text-sm font-semibold text-gray-200
  }
}



@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Inter-Regular.ttf) format('ttf');
  }
}

:root {
  font-family: 'Inter';
}


